@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    @font-face {
        font-family: inter;
        font-weight: 100 900;
        font-display: swap;
        font-style: oblique 0deg 10deg;
        src: url("../fonts/Inter.var.woff2") format("woff2");
    }
}


/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar, textarea::-webkit-scrollbar, .scroll-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html, textarea, .scroll-hide{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.user-select-none {
  -webkit-user-select: none;  /* Safari */
  -moz-user-select: none;  /* Firefox */
  -ms-user-select: none;  /* IE10+/Edge */
  user-select: none;  /* Standard */
}


.typed-cursor {
    font-size: 44px;
    font-weight: bold;
    color: #000000;

}
  
.dark .typed-cursor {
    color: #ffffff;
}