@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    font-family: 'PT Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    @apply text-gray-200 bg-black
}

.active-link {
    @apply text-sky-400 border border-zinc-800 font-medium
}

.social-link {
    @apply hover:bg-zinc-900 p-1.5 rounded-lg
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar,
textarea::-webkit-scrollbar,
.scroll-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html,
textarea,
.scroll-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}